@import url(./reset.css);

body {
		display: flex;
		place-items: center;
		justify-content: center;;
		background-size: 100% ;
		background: linear-gradient(to bottom, #fceabb, #f8b500);
    background-repeat: no-repeat;
    object-fit: contain;

  height: 100vh;
}